package view

import (
	"github.com/edutko/crypto-fails/internal/auth"
    "github.com/edutko/crypto-fails/internal/view/component"
	"github.com/edutko/crypto-fails/pkg/share"
)

templ MyShares(links []share.Link) {
<!DOCTYPE html>
<html>
@component.Head()
<body>
<h1>$5wrench Cloud Storage</h1>
<h2>So secure, they'll have to beat your secrets out of you!<sup title="https://xkcd.com/538/"><a href="https://xkcd.com/538/">[1]</a></sup></h2>

<div id="content">
<div id="navbar">
if s := auth.GetSessionFromContext(ctx); s.IsAuthenticated() {
@component.SideMenu(s)
}
</div>

<div id="content-main">
<h3>My Shares</h3>
<table id="shares-table">
<thead>
  <th class="left-justified">File</th>
  <th class="centered">Expires</th>
  <th class="centered">Actions</th>
</thead>
<tbody>
for _, l := range links {
  <tr>
    <td class="left-justified">{l.Key}</td>
    <td class="centered">{l.Expiration.Format("2006-01-02")}</td>
    <td class="centered">
      @component.CopyButton(l.Id, l.URL, "Copy link to clipboard")
    </td>
  </tr>
}
</tbody>
</table>
</div>
</div>
</body>
<script src="/static/js/utils.js"></script>
</html>
}
