package component

import "github.com/edutko/crypto-fails/internal/app"

templ Head() {
<head>
  <title>$5wrench Cloud Storage</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <meta name="version" content={app.Version()} />
</head>
}
